<!DOCTYPE html>
<html>
<head>
  <title>Group Chat</title>
  <style>
    body { font-family: Arial; margin: 20px; }

    #chatBox {
      border: 1px solid #a23131;
      height: 300px;
      overflow-y: auto;
      padding: 10px;
      margin-bottom: 10px;
    }

    .msg {
      padding: 5px;
      margin: 5px 0;
      background: #f1f1f1;
      border-radius: 5px;
    }
  </style>
</head>

<body>

  <h2>Group Chat</h2>

  <input id="roomInput" placeholder="Enter Room ID" />
  <button onclick="joinRoom()">Join Room</button>

  <div id="chatBox"></div>

  <p id="typingIndicator"></p>
  <input id="msgInput" placeholder="Type message..." />
  <button onclick="sendMessage()">Send</button>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./homepage.js"></script>
  

</body>
</html>